@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&family=VT323&display=swap');


* {
    font-family: 'Merriweather', serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'VT323', monospace;
    font-size: 25px;
}

hr {
    border: 0;
    height: 1px;
    width:50%;
    margin-left: auto !important; 
    margin-right: auto !important;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, ),
      rgba(0, 0, 0, 0.75)
    );
}


.animated-section {
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotatex(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.skill-icons {
    width: 100px;  
    height: auto;  

}

.black{
    color: #212529 !important;
}

.black:hover {
    color: #FA2742 !important;
}

.red {
    color: #FA2742 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #212529 !important;
    color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #6c757d !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #FA2742 !important;
}


.social-links {
    transition: all .2s ease-in;
}

.social-links:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.btn-red {
    color: white !important; 
    background-color: #FA2742 !important;
}